body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  width: 300px;
  height: 410px;
  background-color: rgb(237, 241, 245);
}

.container {
  padding: 0px 0px 40px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #bcbedc;
  background-color: rgb(21, 42, 64);
}
.title img {
  padding-right: 10px;
  width: 27px;
  height: 27px;
}
.links_container {
  width: 94%;
  margin-bottom: -10px;
}
.links {
  display: flex;
  flex-direction: column;
}
.links p {
  padding: 4px 0px 4px 0px;
  background-color: #fafafa;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 430;
  font-family: Roboto;
  width: 100%;
}
/* form */
.link_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.link_form button {
  border-radius: 3px;
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background-color: #3db4f2;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 13px;
}
.link_form input {
  margin: 0;
  padding: 3px;
  background-color: #fafafa;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 430;
  font-family: Roboto;
  width: 100%;
}
/* dropdown */
.dropdown_container {
  margin-top: 0px;
  width: 100%;
  display: flex;
  margin-left: 5px;
  flex-direction: column;
}
.dropdown_container h3 {
  font-size: 14px;
  font-weight: 430;
  font-family: Roboto;
}
.dropdown_container button {
  border-radius: 3px;
  width: 45%;
  padding: 12px;
  margin-top: 15px;
  background-color: #3db4f2;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-size: 13px;
}
.dropdown {
  width: 100%;
  margin-left: 4px;
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.dropdown a {
  text-decoration: none;
  margin: 3px;
  width: 17%;
}

.dropdown_item {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown_item img {
  width: 40px;
  height: 40px;
  padding: 5px 0px 5px 0px;

}
span {
  margin-top: 8px;
  font-family: Roboto;
  font-size: 13px;
  color: #5c728a;
  border: none;
  cursor: pointer;
  font-weight: 430;
}
